@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body{
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #A4A421;
    background: -moz-linear-gradient(-45deg, #A4A421 0%, #CB4331 50%, #A263B4 100%);
    background: -webkit-linear-gradient(-45deg, #A4A421 0%, #CB4331 50%, #A263B4 100%);
    background: linear-gradient(135deg, #A4A421 0%, #CB4331 50%, #A263B4 100%);
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.17rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover{
    box-shadow:rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}